{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}


  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{post.img_url}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{post.title}}</h1>
            <h2 class="subheading">{{post.subtitle}}</h2>
            <span class="meta">Posted by
              <a href="#">{{post.author.name}}</a>
              on {{post.date}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {{ post.body|safe }}
          <hr>
          {{ckeditor.load()}}
          {{ckeditor.config(name='comments')}}
          {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
            {%if id=="1"%}
            <div class="clearfix">
            <a class="btn btn-primary float-right" href="{{url_for('edit_post', post_id=post.id)}}">Edit Post</a>
            </div>
            {%endif%}



<!--           Comments Area -->
          <div class="col-lg-8 col-md-10 mx-auto comment">
            {%for comment in post.comment:%}
              <ul class="commentList">
                <li>
                    <div class="commenterImage">
                      <img src="{{comment.user_commented.email|gravatar}}"/>
                    </div>
                    <div class="commentText">
                      {{comment.comments|safe}}
<!--                      {%print(comment.user_commented.name)%}-->
                      <span class="date sub-text">{{comment.user_commented.name}}</span>
                    </div>
                </li>
              </ul>
            {%endfor%}
            </div>


          </div>
      </div>
    </div>
  </article>

  <hr>
{% include "footer.html" %}